<% layout("/layouts/boilerplate") %>

<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br />
      <h3>Edit your listing</h3>
      <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            value="<%= listing.title %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a Title!</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required><%=listing.description.trim()%></textarea>
          <div class="invalid-feedback">Please enter a short description!</div>
        </div>

        <div class="mb-3">
          Current Image </br>
          <img src="<%= originalImageUrl %>" alt="" class="img-fluid rounded" style="width: 120px; height: 120px; object-fit: cover;">
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Image</label>
          <input
            type="file"
            name="listing[image]"
            class="form-control"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="text"
              name="listing[price]"
              value="<%= listing.price %>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Price should be valid!</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              value="<%= listing.country %>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country name should be valid!</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            value="<%= listing.location %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid!</div>
        </div>

        <button class="btn edit-btn">Edit</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
